.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #0B2434;
}

.main {
  background-color: #0B2434;
  width: auto;
  max-width: 3000px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .main{
    width: 95%;
    margin: 20px auto;
    padding: 15px;
  }
}

@media (min-width: 480px) and (max-width:780px) {
  .main{
    width: 95%;
    margin: 30px auto;
    padding: 20px;
  }
}

.main2{
  background-color: #F5F5F5;
  margin: 30px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 16px 32px;
}

.title{
  color: #2B283A;
  font-family: "Karla", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  margin-top: 24px;
}

.instructions{
  color: #4A4E74;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
}

.btn{
  text-align: center;
  width: 72px;
  height: 72px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #2B283A;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn-click{
  text-align: center;
  width: 72px;
  height: 72px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #2B283A;
  border-radius: 10px;
  background-color: #59E391;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.buttons{
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 50px;
}

.submit-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 16px;
}

.submit{
  background-color: #5035FF;
  color: #FFFFFF;
  padding: 16px 48px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 3.2px 7.68px rgba(0, 0, 0, 0.18);
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.submit:hover {
  background-color: #3c28cc;
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}

.meter{
  color: #242944;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 0%;
}